<div class="game-bar">
  <img class="game-bar__background-image" src="./assets/images/gui/game-bar-background.png" alt="">
  <div class="game-bar__info" id="bet-trigger">
    <p class="game-bar__text">
      <span class="game-bar__text-value" id="bet-value-setup">1.23</span>
      <span class="game-bar__text-currency">FUN</span>
    </p>
    @@include('../svg/sack.html', { class: 'game-bar__icon' })
  </div>
  <button class="game-bar__button" type="button" id="game-button">
    Play
  </button>
</div>
