<div class="bar bar_bottom-left">
  <img class="bar__background-image bar__background-image_bottom-left" src="./assets/images/gui/bar-background.png" alt="">
  <img class="bar__background-decoration bar__background-decoration_bottom-left" src="./assets/images/gui/rays.png" alt="">
  <div class="coins">
    <div class="coins__media">
      <img class="coins__image" src="./assets/images/gui/coins.svg" alt="">
    </div>
    <div class="coins__text">
      <p class="coins__title">Your Balance</p>
      <p class="coins__value">500 FUN</p>
    </div>
  </div>
</div>
