.field {
  position: absolute;
  top: 14.44vw;
  left: 38.99vw;
  transform: skew(-63.4deg, 26.3deg);
  z-index: 0;
  display: grid;
  grid-template-rows: repeat(13, $cell-height);
  width: $field-width;
  height: $field-height;

  &_select {
    .field__row:not(.field__row_active) {
      .field__cell {
        &::before {
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(5, $cell-width);

    &_active {
      .field__cell {
        cursor: pointer;

        &:hover {
          &::before {
            box-shadow: inset 0 0 8px 4px #2ecef6;
          }
        }
      }
    }
  }

  &__cell {
    position: relative;
    z-index: 0;
    width: $cell-width;
    height: $cell-height;
    user-select: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      transition: background-color 0.3s ease,
                  box-shadow 0.3s ease;

      @include non-interactive;
    }
    
    &-background-image {
      width: 100%;
      height: 100%;
      @include non-interactive;
    }

    &-mine {
      position: absolute;
      top: 0;
      left: 25%;
      transform: skew(63.4deg, -26.3deg) translateY(-25%);
      z-index: 10;
      width: 50%;
      height: 100%;

      @include non-interactive;
    }
  }
}
