@@include('../mole/index.html')

<div class="field" id="field">
  @@include('./row.html', { id: '13' })
  @@include('./row.html', { id: '12' })
  @@include('./row.html', { id: '11' })
  @@include('./row.html', { id: '10' })
  @@include('./row.html', { id: '9' })
  @@include('./row.html', { id: '8' })
  @@include('./row.html', { id: '7' })
  @@include('./row.html', { id: '6' })
  @@include('./row.html', { id: '5' })
  @@include('./row.html', { id: '4' })
  @@include('./row.html', { id: '3' })
  @@include('./row.html', { id: '2' })
  @@include('./row.html', { id: '1' })
</div>
