$width-xl: 1440px;
$width-lg: 1280px;
$width-md: 960px;
$width-sm: 640px;
$width-xs: 480px;

$height-xl: 1080px;
$height-lg: 920px;
$height-md: 760px;
$height-sm: 600px;
$height-xs: 440px;

$width-resolutions: (
  'xl': 1440px,
  'lg': 1280px,
  'md': 960px,
  'sm': 640px,
  'xs': 480px,
);

$height-resolutions: (
  'xl': 1080px,
  'lg': 920px,
  'md': 760px,
  'sm': 600px,
  'xs': 440px,
);
