* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter';
}

h1, h2, h3, h4, h5, h6, p {
  margin-block: 0;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: 'Inter';
}

img, svg {
  display: block;
}
